# Rename to .env and update with your values

TELEGRAM_BOT_TOKEN="6680155341:PPHugUXFA1jTCgtqufvcCpL2Il5fzo2PHH5" 
TELEGRAM_CHAT_ID="-1001854284507"
EMBY_BASE_URL="http://192.168.1.1:8096"
EMBY_API_KEY="3579yt3597t3597935"
EPISODE_PREMIERED_WITHIN_X_DAYS=7
SEASON_ADDED_WITHIN_X_DAYS=3

